.note {
    background-color: yellow;
}

.note:hover {
    cursor: pointer;
}

a {
    color: green;
}

.hovered {
    background-color: green !important;
    display: block;
}

.back {
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.front {
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.contextButton {
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.w {
    padding: 0.1rem;
}
.w:hover {
    color: white;
    background-color: rgb(66, 109, 46);
    border-radius: 0.2rem;
    padding: 0.1rem;
    cursor: pointer;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}