

.note:hover {
    cursor: pointer;
}

a {
    color: green;
}

.hovered {
    background-color: green !important;
    display: block;
}

.back {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.front {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.contextButton {
    margin-top: 1rem!important;
   
}

.hidden {
    display: none;
}

.w {
    padding: 0.1rem;
}
.w:hover {
    color: white;
    background-color: rgb(66, 109, 46);
    border-radius: 0.2rem;
    padding: 0.1rem;
    cursor: pointer;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.siteTitle {
    font-family: Snell Roundhand;
}

body {
    Background-color: rgb(252, 234, 203);
    }