

.note:hover {
    cursor: pointer;
}

a {
    color: green;
    text-decoration: none;
}

.hovered {
    background-color: green !important;
    display: block;
}

.back {
    background-color: rgb(207, 230, 209);
    color: black;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.front {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.contextButton {
    margin-top: 1rem!important;
   
}

.hidden {
    display: none;
}

.w {
    padding: 0.1rem;
}
.w:hover {
    color: white;
    background-color: rgb(66, 109, 46);
    border-radius: 0.2rem;
    padding: 0.1rem;
    cursor: pointer;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.latintype {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.gothic {
    font-family: Arial, Helvetica, sans-serif;
}

.antiqua {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.center {
    text-align: center;
    display:inline-block
}

.indentation {
    padding-left: 1rem;
}

.indentation-1 {
    padding-left: 10%
}

.indentation-2 {
    padding-left: 25%
}

.indentation-3 {
    padding-left: 50%
}

.indentation-4 {
    padding-left: 75%
}

.ornament:after {
    content: "RK";
}

.siteTitle {
    font-family: Snell Roundhand;
}

body {
    Background-color: rgba(249, 246, 242, 0.943);
    }