.codeAttribute {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-weight: bold;
}

.codeElement {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-weight: bold;
}

.codeElement:before {
    content: "<";
}

.codeElement:after {
    content: ">";
}